@charset "UTF-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
}
input{
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
	font-weight:bold;
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none;
}
/*common*/
* {
	padding: 0;
	margin: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}






/* common */
body{
/*  background:url(../images/bg.jpg);*/
}
.g_960{
	width:960px;
	margin:0 auto;
}



.navi{
	position:fixed;height:50px;width:100%;top:0;left:0;z-index:70;
	border-bottom:7px solid #ffe600;
	background:#fff;
	padding-top:15px;
}
.navi .left{
	position:absolute;
	left:3%;
}
.navi .right{
	position:absolute;
	right:3%;
	width:620px;
}
.navi .right .right_wrap{
	
}
.navi .right .menu{
	float:left;
	padding-top:8px;
}
.navi .right .menu .inner a{
	display:block;
	float:left;
	padding-right:25px;
}
.navi .right .sns{
	float:right;
	padding-top:3px;
}
.sec_summer{
	background:#ffd503;
	background:url(../images/bg_page.jpg) no-repeat center;
	background-size:cover;
	height:900px;
	position:relative;
}
.sec_summer .title{
	position:absolute;
	text-align:center;
	top:50%;
	margin-top:-180px;
	left:50%;
	margin-left:-250px;
}
.sec_summer .btn_main{
	position:absolute;
	text-align:center;
	top:50%;
	margin-top:170px;
	left:50%;
	margin-left:-250px;
}
.sec_summer .btn_main .inner{
	width:100%;
}
.sec_summer .btn_main .inner a{
	display:block;
	float:left;
	padding-right:10px;
}

.sec_summer_coupon{
	background:#ffd503;
	background:url(../images/bg_page.jpg) no-repeat center;
	background-size:cover;
	height:850px;
	position:relative;
}
.sec_summer_coupon .title{
	position:absolute;
	background:url(../images/bg_mms_page.png) no-repeat center;
	text-align:center;
	width:575px;
	height:550px;
	top:45%;
	margin-top:-259px;
	left:50%;
	margin-left:-287px;
}
.sec_summer_coupon .title .qr{
	padding-top:232px;
	height:171px;
	position:relative;
	width:575px;
	text-align:center;
}
.sec_summer_coupon .title .qr .frame{
	position:absolute;
	z-index:1000;
	top:276px;
	left:50%;
	margin-left:-89px;
}
.sec_summer_coupon .title .qr .img{
	position:absolute;
	z-index:999;
	top:293px;
	left:50%;
	margin-left:-70px;
}
.sec_summer_coupon .title .url{
	padding-top:100px;
	font-weight:bold;
	font-size:16px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sec_summer_coupon .btn_block{
	position:absolute;
	width:100%;
	text-align:center;
	bottom:11%;
}

.sec_movie{
	background:#fff;
	height:740px;
	padding:70px 0;
	position:relative;
	width:100%;
}
.sec_movie #youtube_div{
	width:800px;
	margin:0 auto;
	height:450px;
	border:5px solid #000;
}
.sec_movie .charc{
	position:absolute;
	bottom:-2px;
	width:843px;
	left:50%;
	margin-left:-421px;
}
.sec_movie .charc div.c_one{
	float:left;
	width:280px;
	text-align:right;
}
.sec_movie .charc div.c_one a{
	display:block;
}

.sec_message{
	background:#ffd503;
	height:1240px;
}
.sec_message .title{
	background:#000;
	text-align:center;
	padding:35px 0 40px;
}
.sec_message .event{
	height:540px;
	margin-top:40px;
	background:url(../images/bg_event.png) no-repeat center;
}
.sec_message .event .inner{
	width:1000px;
	margin:0 auto;
}
.sec_message .event .inner .btn_block{
	padding-top:400px;
}
.sec_message .howto{
	text-align:center;
	padding:0 0 40px;
}

.sec_plus{
	background:#fac9cc;
	height:450px;
	text-align:center;
	padding-top:80px;
}




/*popup*/
.popup_wrap {
	position:relative;
}
.popup_wrap .p_position{
	position:relative;
	width:650px;
	height:750px;
}
.popup_wrap .p_position .block_content{
	z-index:200;
	border:10px solid #302683;
	background:#fff;
	height:520px;
	width:650px;
}
.popup_wrap .p_mid_col.p_position .block_content{
	position:absolute;
	z-index:200;
	border:3px solid #000;
	top:15px;
}



.popup_wrap .p_position .block_close {
	width:100%;
	position:absolute;
	padding:0 0 0;
	z-index:300;
	top:15px;
	right:15px;
}
.popup_wrap .p_mid_col.p_position .block_close {
	width:100%;
	position:absolute;
	padding:0 0 0;
	z-index:300;
	top:15px;
	right:15px;
}
.popup_wrap .block_close .btn_close{
	display:block;
	float:right;
	width:30px;
	height:30px;
}
.popup_wrap .title{
	text-align:center;
}


/*팝업별 사이즈 조정*/
.popup_wrap .p_position.p_mid{
	position:relative;
	width:550px;
	height:620px;
}
.popup_wrap .p_position.p_mid .block_content{
	width:600px;
	height:700px;
	
}
.popup_wrap .p_position.p_mid_col{
	position:relative;
	width:650px;
	height:780px;
}
.popup_wrap .p_position.p_mid_col .block_content{
	width:650px;
	height:740px;
	
}


.popup_wrap .p_position.p_mid_comp{
	position:relative;
	width:530px;
	height:680px;
}
.popup_wrap .p_position.p_mid_comp .block_content{
	width:530px;
	height:600px;
	
}
.popup_wrap .p_position.p_mid_agree{
	position:relative;
	width:400px;
	height:500px;
}
.popup_wrap .p_position.p_mid_agree .block_content{
	width:380px;
	height:480px;
}
.popup_wrap .p_position.p_mid_input{
	position:relative;
	width:550px;
	height:620px;
}
.popup_wrap .p_position.p_mid_input .block_content{
	width:530px;
	height:600px;
}

.popup_wrap .p_position.p_mid_event{
	position:relative;
	width:650px;
	height:650px;
}
.popup_wrap .p_position.p_mid_event .block_content{
	width:630px;
	height:630px;
}

.popup_wrap .p_position.p_alert{
	position:relative;
	width:400px;
	height:280px;
}
.popup_wrap .p_position.p_alert .block_content{
	position:relative;
	width:380px;
	height:260px;
	border:10px solid #302683;
}



/*팝업별 타이틀 위치 조정*/
.popup_wrap .p_position.p_mid .block_content .title{
	padding-top:50px;
	padding-bottom:20px;
}
.popup_wrap .p_position.p_mid_input .block_content .title{
	padding-top:50px;
}
.popup_wrap .p_position.p_mid_input .block_content .btn_sns{
	padding-top:10px;
	padding-left:120px;
}


.popup_wrap .p_position.p_mid_event .block_content .title{
	padding-top:50px;
	padding-bottom:20px;
}
.popup_wrap .p_position.p_mid_event .block_content .movie{
	padding-top:0;
	margin-bottom:20px;
	background:#000;
}
.popup_wrap .p_position.p_mid_event .block_content .txt_notice{
	text-align:center;
	padding:0 0 0;
}
.popup_wrap .p_position.p_mid_event .block_content .btn_block{
	text-align:center;
	padding-top:20px;
}
.popup_wrap .p_position.p_mid_event .block_content .quiz{
	position:relative;
	background:url(../images/popup/bg_quiz.png) no-repeat;
	width:100%;
	height:354px;
}
.popup_wrap .p_position.p_mid_event .block_content .quiz .quiz_inner{
	position:absolute;
	width:200px;
	right:48px;
	top:187px;
}
.popup_wrap .p_position.p_mid_event .block_content .quiz .quiz_inner div{
	float:left;
	width:45px;
	position:relative;
	padding-right:1px;
}
.popup_wrap .p_position.p_mid_event .block_content .quiz .quiz_inner div input{
	padding:3px 0;
	width:28px;
	font-weight:bold;
	font-size:23px;
	color:#302683;
	line-height:23px;
	border:none;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.popup_wrap .p_position.p_mid_event .block_content .quiz .btn_hint{
	position:absolute;
	right:210px;
	bottom:40px;
}



.popup_wrap .p_position.p_mid_comp .block_content .title{
	padding-top:50px;
	padding-bottom:20px;
}
.popup_wrap .p_position.p_mid_col .block_content .title{
	padding-top:35px;
	padding-bottom:20px;
}
.popup_wrap .p_position.p_alert .block_content .title{
	padding-top:60px;
	padding-bottom:30px;
}
.popup_wrap .p_position.p_alert .block_content .title.one{
	padding-top:90px;
	padding-bottom:30px;
}

/*****팝업별 버튼 위치 조정*****/
/*디폴트 버튼 스타일*/
.popup_wrap .p_position .btn_block{
	text-align:center;
}
.popup_wrap .p_position.p_mid .btn_block{
	text-align:center;
	padding-top:30px;
}
.popup_wrap .p_position.p_mid_input .btn_block{
	text-align:center;
	padding-top:30px;
}
.popup_wrap .p_position.p_mid_input .btn_block.end{
	text-align:center;
	padding-top:20px;
}
.popup_wrap .p_position.p_mid_comp .btn_block{
	text-align:center;
	padding-top:40px;
}
.popup_wrap .p_position.p_mid_comp .btn_close_block{
	text-align:center;
	padding-top:170px;
}

/*****팝업별 노티스 텍스트 위치 조정*****/
.popup_wrap .p_position .txt_notice{
	text-align:center;
}
.popup_wrap .p_position.p_mid_comp .block_content .block_url{
	padding:30px 0 30px;
	text-align:center;
	color:#000;
	font-weight:bold;
	margin-top:20px;
}

.popup_wrap .p_position.p_mid_agree .block_content .inner{
	padding:50px 30px;
	font-size:13px;
	line-height:15px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

/*메시지작성*/
.popup_wrap .p_position.p_mid .block_input{
	padding-left:60px;
	padding-top:43px;
	background: url(../images/popup/bg_input_chrc.png) no-repeat 180px 0px;
}
.popup_wrap .p_position.p_mid .block_input .input_to,
.popup_wrap .p_position.p_mid .block_input .input_from,
.popup_wrap .p_position.p_mid .block_input .input_txtarea{
	width:100%;
}

.popup_wrap .p_position.p_mid .block_input .label,
.popup_wrap .p_position.p_mid .block_input .txt_input{
	float:left;
	width:90px;
	text-align:right;
}
.popup_wrap .p_position.p_mid .block_input .label{
	padding-right:10px;
	padding-top:10px;
}
.popup_wrap .p_position.p_mid .block_input .txt_input{
	width:350px;
	text-align:left;
}

.popup_wrap .p_position.p_mid .block_input .txt_input input,
.popup_wrap .p_position.p_mid .block_input .txt_input textarea{
    border:1px solid #000;
	padding:6px 3px;
	width:300px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	color:#000;	
}

.popup_wrap .p_position.p_mid .block_input .txt_input textarea{
	height:200px;
}

/*개인정보입력*/
.popup_wrap .p_position.p_mid_input .block_input{
	padding-left:50px;
	padding-top:30px;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one{
	width:100%;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .label,
.popup_wrap .p_position.p_mid_input .block_input .input_one .input,
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone{
	float:left;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .label{
	width:100px;
	padding-right:10px;
	text-align:right;
	padding-top:8px;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one input{
	border:3px solid #302683;
	padding:6px 3px;
	width:308px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	color:#000;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone .phone_ip input{
	width:82px;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone .phone_ip,
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone .phone_ip_dash{
	float:left;
	width:95px;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone .phone_ip_dash{
	width:18px;
	text-align:center;
	padding-top:7px;
}


.popup_wrap .p_position.p_mid_input .bar{
	padding:0 0 10px;
	width:100%;
	margin-bottom:15px;
	margin-top:-10px;
	border-bottom:1px solid #302683;
}

.popup_wrap .p_position.p_mid_input .check_block{
	padding: 30px 57px 10px 80px;
}
.popup_wrap .p_position.p_mid_input .check_block .check_one{
	width:100%;
}
.popup_wrap .p_position.p_mid_input .check_block .check_one .in_check,
.popup_wrap .p_position.p_mid_input .check_block .check_one .txt_check,
.popup_wrap .p_position.p_mid_input .check_block .check_one .btn_check{
	float:left;
}

.popup_wrap .p_position.p_mid_input .check_block .check_one .btn_check{
	float:right;
	text-align:right;
	padding-right:0;
}


/*콜렉션 팝업*/
.popup_wrap .p_position.p_mid_col .block_content .content{
	width:100%;
	padding-top:0x;
}
.popup_wrap .p_position.p_mid_col .block_content .content .arrow_left,
.popup_wrap .p_position.p_mid_col .block_content .content .arrow_right,
.popup_wrap .p_position.p_mid_col .block_content .content .img_block{
	float:left;
	text-align:center;
	width:76%;
}
.popup_wrap .p_position.p_mid_col .block_content .content .arrow_left,
.popup_wrap .p_position.p_mid_col .block_content .content .arrow_right{
	padding-top:120px;
	width:12.5%;
}
.popup_wrap .p_position.p_mid_col .block_content .content .arrow_left{
	width:11.5%;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb ul li{
	display:block;
	float:left;
	width:82px;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb ul li.last{
	width:78px;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb ul li a{
	display:block;
	width:73px;
	height:73px;
	text-align:center;
	background:#fafafa;
	border:1px solid #ccc;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb ul li a.selected{
	width:67px;
	height:68px;
	border:4px solid #6f93b6;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb.muji ul li a.selected{
	width:67px;
	height:68px;
	border:4px solid #ffe900;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb.peach ul li a.selected{
	width:67px;
	height:68px;
	border:4px solid #fac9cc;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb.neo ul li a.selected{
	width:67px;
	height:68px;
	border:4px solid #6f93b6;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb.muji{
	padding-left:207px;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb.peach{
	padding-left:124px;
}
.popup_wrap .p_position.p_mid_col .block_content .block_thumb.neo{
	padding-left:163px;
}

.popup_wrap .p_position.p_mid_col .block_content .txt_col{
	text-align:center;
	padding:45px 0 0;
}




.popup_wrap .p_position.p_mid_agree .bold{
	font-weight:bold;
}



.wrap_page{
	width:100%;
}
.contents_wrap{
	position:absolute;width:100%	;
}


